.text-gray {
  color: rgba(0, 0, 0, 0.6);
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fw-600 {
  font-weight: 600;
}

body {
  background-color: #f3f2ef;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.box-border {
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
}

.shadow {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__container {
  background-color: white;
  padding: 0 24px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  min-height: 52px;
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 8px;
  color: #0a66c2;
}

.header__search-area-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__search-area {
  max-width: 280px;
  position: relative;
}

.header__search-icon {
  width: 16px;
  margin: 8px 8px 8px 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.header__search-bar {
  height: 34px;
  width: 100%;
  padding: 0 8px 0 40px;
  position: static;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: #eef3f8;
}

.header__search-bar:focus + .shadow {
  display: block;
}

.header__nav {
  height: 52px;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item--search {
  display: none;
}

.header__nav-item--active {
  border-bottom: 2px solid black;
}

.header__nav-item--active * {
  color: black;
  fill: black;
}

.header__nav-item--divider {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.header__nav-item-link {
  height: 100%;
  fill: rgba(0, 0, 0, 0.6);
  min-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-item-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item-link:hover {
  color: black;
  fill: black;
}

.header__nav-item-link--profile img {
  border-radius: 100%;
}

.header__nav-item-link--premium {
  color: #915907;
  width: 125px;
  text-align: center;
}

.header__nav-item-icon {
  width: 24px;
  height: 24px;
}

.main {
  margin: 24px auto 0;
  max-width: 1128px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left-side {
  width: 225px;
  margin-right: 25px;
}

.main__info {
  margin-bottom: 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__profile {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__profile-background {
  width: 100%;
  border-radius: 0.4rem;
}

.main__profile-photo {
  width: 72px;
  border-radius: 100%;
  border: 2px solid white;
  margin: -38px auto 12px;
}

.main__profile-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.main__profile-subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.main__stats {
  padding: 12px 0;
  font-size: 12px 10px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__stat {
  padding: 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__stat-desc {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 8px;
}

.main__stat-count {
  color: #0a66c2;
}

.main__stat:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.main__try-premium {
  padding: 12px 10px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__try-premium-link {
  color: rgba(0, 0, 0, 0.6);
}

.main__try-premium-top {
  display: block;
}

.main__try-premium-bottom {
  display: block;
  color: black;
  font-weight: 600;
}

.main__try-premium-icon {
  vertical-align: middle;
}

.main__collections {
  font-size: 12px;
  padding: 12px 10px;
}

.main__collections-icon {
  fill: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
  margin-right: 8px;
}

.main__collections:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.main__explore {
  background-color: white;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

.main__explore-items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__explore-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 10px;
}

.main__explore-item--with-button .main__plus-btn {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.6);
}

.main__explore-item--with-button .main__plus-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.main__explore-item a {
  color: #0a66c2;
}

.main__explore-item a:hover {
  text-decoration: underline;
}

.main__explore-more {
  padding: 12px;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.main__explore-more:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.main__content {
  width: 540px;
}

.main__post-create {
  background-color: white;
  margin-bottom: 8px;
}

.main__post-create-top {
  height: 50px;
  margin: 8px 16px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__post-create-pp {
  width: 48px;
  border-radius: 100%;
  margin-right: 8px;
}

.main__post-create button {
  display: block;
  padding: 10px 8px 10px 18px;
  margin: 4px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  background-color: white;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.main__post-create button:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.main__post-create-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 4px;
}

.main__post-create-bottom * {
  vertical-align: middle;
}

.main__post-create-bottom a {
  padding: 0 8px;
  height: 48px;
  margin-top: auto;
  line-height: 48px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.main__post-create-bottom a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.main__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.main__divider hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: rgba(0, 0, 0, 0.15);
}

.main__sort {
  margin-left: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__sort-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4px;
  font-weight: 600;
  color: black;
}

.main__posts {
  color: black;
}

.main__post {
  margin-bottom: 8px;
  background-color: white;
}

.main__post-header {
  margin: 0 16px;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__post-header a {
  color: black;
  font-weight: 600;
}

.main__post-profile {
  padding: 12px 16px 0;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__post-profile-text {
  font-size: 12px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__post-profile-text span {
  vertical-align: middle;
}

.main__post-profile-text svg {
  width: 14px;
  vertical-align: middle;
}

.main__post-pp {
  width: 48px;
  height: 48px;
  position: relative;
}

.main__post-pp img {
  width: 48px;
  border-radius: 100%;
}

.main__post-time {
  line-height: 5px;
}

.main__post-content {
  margin: 0 16px;
  overflow: hidden;
}

.main__post-img {
  margin-top: 8px;
  width: 100%;
}

.main__post-interactions {
  padding: 8px 0;
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__post-interaction-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3px;
}

.main__post-interaction-link img {
  margin-right: 3px;
}

.main__post-interaction-buttons {
  padding: 4px 8px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__post-interaction-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 8px;
}

.main__post-interaction-button svg {
  vertical-align: middle;
}

.main__post-interaction-button span {
  vertical-align: middle;
}

.main__post-interaction-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.main__online-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 100%;
  border: 2px solid white;
}

.right-side {
  width: 315px;
  margin-left: 25px;
}

.right-side__add-to-flow {
  padding: 12px;
  background-color: white;
  margin-bottom: 8px;
}

.right-side__add-to-flow-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-side__add-to-flow svg {
  vertical-align: middle;
}

.right-side__follow-list {
  list-style-type: none;
  margin-top: 16px;
}

.right-side__follow-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
}

.right-side__follow-list-item img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 12px;
}

.right-side__follow-list-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side__follow-list-item-desc a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-side__follow-button {
  margin-top: 6px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 115px;
  padding: 6px 16px;
  color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
}

.right-side__follow-button svg {
  margin-right: 3px;
}

.right-side__follow-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.right-side__most-viewed-lesson {
  background-color: white;
  padding: 12px 0 12px;
}

.right-side__most-viewed-lesson-header {
  padding: 0 12px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-side__most-viewed-lessons {
  list-style-type: none;
}

.right-side__most-viewed-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.right-side__most-viewed-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.right-side__most-viewed-item-title {
  padding: 4px 32px 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-side__most-viewed-item-subtitle {
  padding: 0 32px 4px 27px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-side__show-more {
  padding: 10px 13px 2px 12px;
}

.right-side__show-more svg {
  vertical-align: middle;
}

.right-side__footer {
  margin-top: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

.right-side__footer-items {
  list-style-type: none;
  margin: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-side__footer-item {
  display: inline;
  margin: 4px 8px;
}

.right-side__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-side__copyright svg {
  margin-right: 3px;
}

@media screen and (max-width: 1176px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right-side {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header__search-area-container {
    display: none;
  }
  .header__nav-item--search {
    display: block;
  }
}

@media screen and (max-width: 835px) {
  .header__nav-item {
    margin: 0 10px;
  }
  .header__nav-item-link {
    min-width: 48px;
  }
  .header__nav-item--active {
    border: none;
  }
  .header__nav-item-name {
    display: none !important;
  }
}

@media screen and (max-width: 670px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__left-side {
    display: none;
  }
  .header__nav-item {
    margin: 0 4px;
  }
  .header__nav-item:last-child {
    display: none !important;
  }
}

@media screen and (max-width: 470px) {
  .header__nav-item:nth-child(3),
  .header__nav-item:nth-child(4),
  .header__nav-item:nth-child(5),
  .header__nav-item:nth-child(8),
  .header__nav-item:nth-child(9) {
    display: none;
  }
  .main {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */