$site-bg: #f3f2ef;
$input-bg: rgb(238, 243, 248);
$color-deactive-nav-item: rgba(0, 0, 0, 0.6);
$premium-cl: #915907;

.text-gray {
  color: rgba(0, 0, 0, 0.6);
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fw-600 {
  font-weight: 600;
}

body {
  background-color: $site-bg;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.box-border {
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
}

.shadow {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__container {
  background-color: white;
  padding: 0 24px;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  min-height: 52px;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &__logo {
    margin-right: 8px;
    color: #0a66c2;
  }

  &__search-area-container {
    flex-grow: 1;
  }

  &__search-area {
    max-width: 280px;
    position: relative;
  }

  &__search-icon {
    width: 16px;
    margin: 8px 8px 8px 16px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__search-bar {
    height: 34px;
    width: 100%;
    padding: 0 8px 0 40px;
    position: static;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: $input-bg;
    
    &:focus + .shadow {
        display: block;
    }
  }

  &__nav {
    height: 52px;

    &-items {
      display: flex;
      flex-wrap: nowrap;
      list-style-type: none;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    &-item {
      display: flex;
      align-items: center;

      &--search {
        display: none;
      }

      &--active {
        border-bottom: 2px solid black;
        * {
          color: black;
          fill: black;
        }
      }

      &--divider {
        border-left: 1px solid rgba(0, 0, 0, 0.08);
      }

      &-link {
        height: 100%;
        fill: $color-deactive-nav-item;
        min-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          align-items: center;
        }

        &:hover {
          color: black;
          fill: black;
        }

        &--profile {
          img {
            border-radius: 100%;
          }
        }

        &--premium {
          color: $premium-cl;
          width: 125px;
          text-align: center;
        }
      }

      &-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.main {
  margin: 24px auto 0;
  max-width: 1128px;
  padding-bottom: 50px;
  display: flex;

  &__left-side {
    width: 225px;
    margin-right: 25px;
  }
  &__info {
    margin-bottom: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  &__profile {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &-background {
      width: 100%;
      border-radius: 0.4rem;
    }

    &-photo {
      width: 72px;
      border-radius: 100%;
      border: 2px solid white;
      margin: -38px auto 12px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    &-subtitle {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__stats {
    padding: 12px 0;
    font-size: 12px 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__stat {
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;

    &-desc {
      color: rgba(0, 0, 0, 0.6);
      margin-right: 8px;
    }

    &-count {
      color: rgb(10, 102, 194);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__try-premium {
    padding: 12px 10px;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &-link {
      color: rgba(0, 0, 0, 0.6);
    }

    &-top {
      display: block;
    }

    &-bottom {
      display: block;
      color: black;
      font-weight: 600;
    }

    &-icon {
      vertical-align: middle;
    }
  }

  &__collections {
    font-size: 12px;
    padding: 12px 10px;

    &-icon {
      fill: rgba(0, 0, 0, 0.6);
      vertical-align: middle;
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__explore {
    background-color: white;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
    position: sticky;
    top: 65px;

    &-items {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    &-item {
      display: flex;
      padding: 4px 10px;

      &--with-button {
        .main__plus-btn {
          margin-left: auto;
          color: rgba(0, 0, 0, 0.6);

          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
            cursor: pointer;
          }
        }
      }

      a {
        color: rgb(10, 102, 194);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__explore-more {
    padding: 12px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__content {
    width: 540px;
  }
  &__post-create {
    background-color: white;
    margin-bottom: 8px;

    &-top {
      height: 50px;
      margin: 8px 16px 0 16px;
      display: flex;
    }

    &-pp {
      width: 48px;
      border-radius: 100%;
      margin-right: 8px;
    }

    button {
      display: block;
      padding: 10px 8px 10px 18px;
      margin: 4px 0;
      flex-grow: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      background-color: white;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        cursor: pointer;
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 4px;

      * {
        vertical-align: middle;
      }

      a {
        padding: 0 8px;
        height: 48px;
        margin-top: auto;
        line-height: 48px;
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.6);

        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  &__divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    hr {
      flex-grow: 1;
      color: rgba(0, 0, 0, 0.15);
    }
  }

  &__sort {
    margin-left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;

    &-selection {
      display: flex;
      margin-left: 4px;
      font-weight: 600;
      color: black;
    }
  }

  &__posts {
    color: black;
  }

  &__post {
    margin-bottom: 8px;
    background-color: white;

    &-header {
      margin: 0 16px;
      padding: 7px 0;
      display: flex;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      display: flex;
      align-items: center;

      a {
        color: black;
        font-weight: 600;
      }
    }

    &-profile {
      padding: 12px 16px 0;
      margin-bottom: 8px;
      display: flex;

      &-text {
        font-size: 12px;
        margin-left: 8px;
        display: flex;
        flex-direction: column;

        span {
          vertical-align: middle;
        }

        svg {
          width: 14px;
          vertical-align: middle;
        }
      }
    }

    &-pp {
      width: 48px;
      height: 48px;
      position: relative;

      img {
        width: 48px;
        border-radius: 100%;
      }
    }

    &-time {
      line-height: 5px;
    }

    &-content {
      margin: 0 16px;
      overflow: hidden;
    }

    &-img {
      margin-top: 8px;
      width: 100%;
    }

    &-interactions {
      padding: 8px 0;
      margin: 0 16px;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    &-interaction {
      &-link {
        display: flex;
        align-items: center;
        margin-right: 3px;

        img {
          margin-right: 3px;
        }
      }

      &-buttons {
        padding: 4px 8px;
        list-style-type: none;
        display: flex;
      }

      &-button {
        display: flex;
        align-items: center;
        padding: 10px 8px;

        svg {
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
          border-radius: 3px;
        }
      }
    }
  }

  &__online-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 100%;
    border: 2px solid white;
  }
}

.right-side {
  width: 315px;
  margin-left: 25px;

  &__add-to-flow {
    padding: 12px;
    background-color: white;
    margin-bottom: 8px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    svg {
      vertical-align: middle;
    }
  }

  &__follow-list {
    list-style-type: none;
    margin-top: 16px;

    &-item {
      display: flex;
      margin: 12px 0;

      img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        margin-right: 12px;
      }

      &-desc {
        display: flex;
        flex-direction: column;

        a {
          color: black;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__follow-button {
    margin-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 115px;
    padding: 6px 16px;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: middle;

    svg {
      margin-right: 3px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__most-viewed-lesson {
    background-color: white;
    padding: 12px 0 12px;

    &-header {
      padding: 0 12px 12px 12px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__most-viewed-lessons {
    list-style-type: none;
  }

  &__most-viewed-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &-title {
      padding: 4px 32px 4px 12px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-subtitle {
      padding: 0 32px 4px 27px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__show-more {
    padding: 10px 13px 2px 12px;

    svg {
      vertical-align: middle;
    }
  }

  &__footer {
    margin-top: 16px;
    position: sticky;
    top: 65px;

    &-items {
      list-style-type: none;
      margin: 16px 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &-item {
      display: inline;
      margin: 4px 8px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;

    svg {
      margin-right: 3px;
    }
  }
}

@media screen and (max-width: 1176px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  
  .main {
    justify-content: center;
  }

  .right-side {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__search-area-container {
      display: none;
    }

    &__nav-item {
      &--search {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .header__nav-item {
    margin: 0 10px;

    &-link {
      min-width: 48px;
    }

    &--active {
      border: none;
    }

    &-name {
      display: none !important;
    }
  }
}

@media screen and (max-width: 670px) {

  .header {
    justify-content: space-between;
  }

  .main__left-side {
    display: none;
  }

  .header__nav-item {
    margin: 0 4px;
  }

  .header__nav-item:last-child {
    display: none !important;
  }
}

@media screen and (max-width: 470px) {

  .header__nav-item:nth-child(3),
  .header__nav-item:nth-child(4),
  .header__nav-item:nth-child(5),
  .header__nav-item:nth-child(8),
  .header__nav-item:nth-child(9) {
    display: none;
  }

  .main {
    margin: 0;
  }
}