* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: white;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}

.card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: tomato;
  border-radius: 50%;
  margin: 10px;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  color: white;
  justify-content: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-title-group {
  justify-content: center;
}

.card-title {
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
}
.card-date {
  flex: 0.3;
  font-size: small;
  margin-top: 0;
}

.card-image {
  border-radius: 10px;
  width: 400px;
}

.card-like-btn {
  font-size: 24px;
  background-color: white;
  border: 0;
}

.card-like-icon {
  color: red;
}

.card-text {
  width: 400px;
  font-size: medium;
}

.card-like-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.like-text {
  font-size: small;
  margin-left: 10px;
}
